.App {
  text-align: center;
  height: 300px;
}

.App-header {
  background-color: #6c7fa3;
  height: 150px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  float: left;
}

.App-title {
  font-size: 2em;
}

$colour: green;

.green {
  color: $colour;
}

nav {
  margin-right: auto;
  text-align: left;
  float: left;
  height: 150px;
  width: 10%;
  font-size: 20px;
}

.Navlink-style {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.login {
  float: left;
  height: 150px;
  width: 10%;
  text-align: left;
  // padding-right: 10px;
}

.halfSize {
  width: 50%;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
