.App {
  text-align: center;
  height: 300px;
}

.App-header {
  // background-color: #282c34;
  height: 150px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  float: left;
}

.App-title {
  font-size: 2em;
}

$colour: green;

.green {
  color: $colour;
}

nav {
  margin-left: 0;
  margin-right: auto;
  text-align: left;
  float: left;
  height: 150px;
  width: 10%;
}

.login {
  float: left;
  height: 150px;
  width: 10%;
  text-align: left;
  // margin-right: 50px;
}
